<div align="center">
  <%
  let tema = 'fff'
  let array = []
  let a
  if (bot.ayar.has(`panel_tema`) === true) {
  for (var i = 0; i < bot.ayar.fetch('panel_tema').length; i++) { a = i }
    tema = '000'
  }
  %>
	<br><br><footer class="footer" style="background-color:#2a2d32; color:#<%=tema%>">
    <p>Kullanılan alt yapı: <a href="http://anidiots.guide/">An Idiot's Guide</a><br>
   Düzenleyen: <a style="color:green" >Dogan#1988</a><br>
    <a href="#top">Üste Çık</a></p>
	</footer>
</div>