<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('../blocks/header', {bot, user, path}) %>
<%
  let tema = '222'
  let yazıTema = 'fff'
  let array = []
  let t
  let a
  if (bot.ayar.has(`panel_tema`) === true) {
  for (var i = 0; i < bot.ayar.fetch('panel_tema').length; i++) { a = i }
    tema = 'e5e5e5'
    yazıTema = '000'
    let t = '#a3a3a3'
  }
  %>
<div class="container">
	<div class="row justify-content-md-center">
		<h2 style="color: #<%=yazıTema%>;">Sunucu İstatistikleri</h2>
	</div>
	<div class="row">
    <div class="col col-4">
      
    </div>
		<div class="col col-4">
      <%- include('../blocks/guild-card', {guild}) %>
		</div>
				<%
				let region = {
					"us-central": "Amerika",
					"us-east": "Doğu Amerika",
					"us-south": "Güney Amerika",
					"us-west": "Batı Amerika",
					"eu-west": "Batı Avrupa",
					"eu-central": `Avrupa`,
					"singapore": "Singapur",
					"london": "Londra",
					"japan": "Japonya",
					"russia": "Rusya",
					"hongkong": "Hong Kong",
					"brazil": "Brezilya",
					"singapore": "Singapur",
					"sydney": "Sidney",
					"southafrica": "Güney Afrika"
				} %>
				
			</div>
</div>

<% include ../blocks/guild-modals %>
<script type="text/javascript">
	let kur = {
			"01": "Ocak",
			"02": "Şubat",
			"03": "Mart",
			"04": "Nisan",
			"05": "Mayıs",
			"06": "Haziran",
			"07": "Temmuz",
			"08": "Ağustos",
			"09": "Eylül",
			"10": "Ekim",
			"11": "Kasım",
			"12": "Aralık"
	}
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>${moment(ts).format('DD')} ${kur[moment(ts).format('MM')]} ${moment(ts).format('YYYY h:mm:ss')}</strong>`);
</script>

<% include ../blocks/footer %>