<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron" style="background-color: #222">
		<div>
			<h1 class="text-warning" style="color: #FFFFFF;">Başarılı! Teşekkürler!</h1>
			<p style="color: #FFFFFF;">Başarıyla iletin yapımcıya gönderildi! Mail gönderdiğin için teşekkür ederiz!</p>
      <button class="btn btn-success">
        Başa dön <i class="fa fa-arrow fa-fw"></i>
      </button>
		</div>
	</div>
</div>
<% include ./blocks/footer %>